// default style for an article
// start with a single column grid
// top children have named grid areas

article.posts {
  &.showcase {
    grid-template-areas: 
      " header header " 
      " content collection ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
